1) date formats 2) naming conventions 3) typo

In [21]:
import pandas as pd
data = {
    'date': ['2021-12-01', '01-12-2022', '2022/12/01', '12-01-2021'],
    'country': ['USA', 'U.S.A.', 'America', 'United States'],
    'name': ['John Doe', 'Jonh Doe', 'Jane Doe', 'Jane Doe'],
    'sales_2020': [100, 200, None, 200],
    'sales_2021': [None, 150, 300, 150]
}
#make pandas dataframe 
df = pd.DataFrame(data)
df.head()

         date        country      name  sales_2020  sales_2021
0  2021-12-01            USA  John Doe       100.0         NaN
1  01-12-2022         U.S.A.  Jonh Doe       200.0       150.0
2  2022/12/01        America  Jane Doe         NaN       300.0
3  12-01-2021  United States  Jane Doe       200.0       150.0

In [11]:
df['date'] = pd.to_datetime(df['date'] , errors ='coerce')
df['date'] = df['date'].dt.strftime("%d/%m/%Y")
df.head()

         date        country      name  sales_2020  sales_2021
0  01/12/2021            USA  John Doe       100.0         NaN
1         NaN         U.S.A.  Jonh Doe       200.0       150.0
2         NaN        America  Jane Doe         NaN       300.0
3         NaN  United States  Jane Doe       200.0       150.0

In [22]:

def standardize(single_date):
    types = ["%Y-%m-%d","%d-%m-%Y" ,"%Y/%m/%d" , "%m-%d-%Y" ]

    for fmt in types :
        try:
            return pd.to_datetime(single_date, format = fmt).dt.strftime("%d-%m-%Y")
        except:
            continue
    return None

df['date'] = df['date'].apply(standardize)
df.head()

   date        country      name  sales_2020  sales_2021
0  None            USA  John Doe       100.0         NaN
1  None         U.S.A.  Jonh Doe       200.0       150.0
2  None        America  Jane Doe         NaN       300.0
3  None  United States  Jane Doe       200.0       150.0

In [15]:
df['date'] = pd.to_datetime(df['date'] , format = "%Y/%m/%d")
df.head()

ValueError: time data "2021-12-01" doesn't match format "%Y/%m/%d", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.