Data Outliers --> 1) ZScore ,2) IQR  , 3) KNN Clusters

In [1]:
import pandas as pd
import numpy as np

In [26]:
data = {'Age' : [22,23,25,27,26,22,21,24,50]}

df = pd.DataFrame(data)
df

   Age
0   22
1   23
2   25
3   27
4   26
5   22
6   21
7   24
8   50

In [13]:
mean =df['Age'].mean()
std = df['Age'].std()

In [14]:
print('Mean : ' , mean )
print('Standard : ',std)

Mean :  26.666666666666668
Standard :  8.972179222463181

In [15]:
df['Z_Scores'] = (df['Age']-mean)/std
df

   Age  Z_Scores
0   22 -0.520126
1   23 -0.408671
2   25 -0.185759
3   27  0.037152
4   26 -0.074304
5   22 -0.520126
6   21 -0.631582
7   24 -0.297215
8   50  2.600632

In [19]:
df1 = df[df['Z_Scores']<2]
df1

   Age  Z_Scores
0   22 -0.520126
1   23 -0.408671
2   25 -0.185759
3   27  0.037152
4   26 -0.074304
5   22 -0.520126
6   21 -0.631582
7   24 -0.297215

Interquartile Range Method

In [30]:
IQ1 = np.percentile(df['Age'] , 25 , interpolation='midpoint')
IQ3 = np.percentile(df['Age'] , 75 , interpolation='midpoint')
IQR = IQ3 -IQ1

lowerbound = IQ1 -(1.5*IQR)
upperbound = IQ3 +(1.5*IQR)

In [35]:
df2 = df[(df['Age']>= lowerbound) & (df['Age']<= upperbound)]
df2

   Age
0   22
1   23
2   25
3   27
4   26
5   22
6   21
7   24