In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [8]:
data1 = {
    'age': [25, 30, 35, 40, 45],
    'height': [165, 170, 175, 180, 185],
    'weight': [55, 60, 65, 70, 75]
}
df = pd.DataFrame(data1)
df.head()

   age  height  weight
0   25     165      55
1   30     170      60
2   35     175      65
3   40     180      70
4   45     185      75

In [7]:
#creating an object 
scalar = StandardScaler()

#fir tansform the the df
scaled_data = scalar.fit_transform(df)
scaled_data

# converting the scaled dataset into dataframe series 
scaled_data = pd.DataFrame(scaled_data ,columns=df.columns)
scaled_data.head()

        age    height    weight
0 -1.414214 -1.414214 -1.414214
1 -0.707107 -0.707107 -0.707107
2  0.000000  0.000000  0.000000
3  0.707107  0.707107  0.707107
4  1.414214  1.414214  1.414214

MIN MAX SCALAR

In [9]:
from sklearn.preprocessing import MinMaxScaler
#creating an object 
scalar = MinMaxScaler()

#fir tansform the the df
scaled_data = scalar.fit_transform(df)
scaled_data

# converting the scaled dataset into dataframe series 
scaled_data = pd.DataFrame(scaled_data ,columns=df.columns)
scaled_data.head()

    age  height  weight
0  0.00    0.00    0.00
1  0.25    0.25    0.25
2  0.50    0.50    0.50
3  0.75    0.75    0.75
4  1.00    1.00    1.00